/* fonts */
@import url("https://fonts.googleapis.com/css?family=Rubik:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:900&display=swap");

/* variables */
:root {
  --greys---light-grey: #646d70;
  --greys---white: #fff;
  --color---dark-green: #222f33;
  --font-family: Rubik, sans-serif;
  --second-family: Merriweather, sans-serif;
}

/* basic styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 20rem;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  color: inherit;
  border-color: transparent;
}

body {
  font-family: var(--font-family);
  font-size: 14px;
  color: var(--greys---light-grey);
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 840px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 30px;
  line-height: 130%;
  color: var(--greys---white);
}

.title--dark {
  color: var(--color---dark-green);
}

.text {
  font-size: 14px;
}

.text p:not(:last-child) {
  margin-bottom: 15px;
}

/* header page styles */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

.header__container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 105px;
}

.header__logo {
  overflow: hidden;
}

.header__logo img {
  width: 135px;
}

.header__body {
  display: flex;
  column-gap: 43px;
  align-items: center;
}

.header__button {
  padding: 10px 21px;
  color: var(--greys---light-grey);
  background-color: var(--greys---white);
  border-radius: 4px;
  transition: all 0.3s;
}

.header__button:hover {
  color: var(--greys---white);
  background-color: var(--color---dark-green);
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 10px;
  align-items: center;

  font-size: 12px;
  font-weight: 500;
  color: var(--greys---white);
}

.menu__link:hover {
  text-decoration: underline;
}

/* main page styles */
.main-section {
  min-height: 100vh;
  position: relative;
  display: flex;
}

.main-section__container {
  padding-top: 90px;
  padding-bottom: 30px;
  position: relative;
  flex: 1 1 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 54.320988% 1fr;
  align-items: center;
  z-index: 10;
}

.main-section__label {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  color: var(--greys---white);
  opacity: 0.8;
}

.main-section__video-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 12px;
  color: var(--greys---white);
}

.main-section__video-link::before {
  width: 32px;
  height: 32px;
  flex: 0 0 32px;
  background: url("/img/main/play.svg");
  border-radius: 50%;
  content: "";
}

.main-section__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-section__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* materials page styles */
.swiper {
  overflow: hidden;
}

.swiper-initialized {
  touch-action: pan-y;
}

.swiper-wrapper {
  display: flex;
  box-sizing: content-box;
}

.swiper-slide {
  flex-shrink: 0;
}

.materials {
  position: relative;
  z-index: 40;
}

.materials__container {
  position: relative;
  padding-bottom: 20px;
  z-index: 30;
  display: grid;
  grid-template-columns: 50% minmax(280px, 325px);
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  min-width: 0;
}

.materials__content {
  padding-top: 25px;
  display: grid;
  gap: 13px;
}

.materials__text {
  line-height: 185%;
}

.materials__more {
  width: 90px;
  height: 34px;
  padding: 10px 14px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  border: 1px solid var(--greys---light-grey);
  border-radius: 4px;
}

.materials__slider {
  position: relative;
  transform: translateY(-20.765027%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.slider-materials__slide {
  aspect-ratio: 325 / 366;
  position: relative;
}

.slider-materials__slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.slider-materials__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px 16px 5px;
  flex-wrap: wrap;
  gap: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.slider-materials__pagination .swiper-pagination-bullet {
  flex: 0 0 8px;
  height: 8px;
  background-color: var(--greys---white);
  opacity: 0.4;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.slider-materials__pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

/* innovate page styles */
.innovate {
  padding: 70px 0 80px;
  background-color: var(--color---dark-green);
}

.innovate_title {
  margin-bottom: 8px;
}

.innovate__text {
  columns: 2 250px;
  gap: 43px;
  line-height: 171%;
  color: var(--greys---white);
  opacity: 0.7;
}

/* info page styles */
.info {
  padding: 85px 0;
}

.info__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 75px;
  row-gap: 30px;
}

.info__image {
  text-align: center;
}

.info__image img {
  max-width: 100%;
}

.info__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
  row-gap: 37px;
}

.info__title {
  font-size: 18px;
}

.info__title:not(:last-child) {
  margin-bottom: 4px;
}

.info__text {
  font-size: 12px;
  line-height: 183%;
  opacity: 0.7;
}

/* media */
@media screen and (min-width: 767.98px) {
  .materials::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 35px;
    width: 60%;
    background-color: var(--greys---white);
    transform: translateY(-95%);
    content: "";
  }

  .materials::after {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 140px;
    width: 40%;
    background-color: var(--color---dark-green);
    transform: translateY(1%);
    content: "";
  }
}

@media screen and (max-width: 840px) {
  .info__container {
    column-gap: 25px;
  }

  .info__content {
    column-gap: 20px;
  }
}

@media screen and (max-width: 767.98px) {
  .title {
    font-size: 24px;
  }

  .materials__container {
    grid-template-columns: auto;
  }

  .materials__slider {
    transform: translateY(0);
  }

  .innovate {
    padding: 30px 0;
  }

  .info {
    padding: 30px 0;
  }

  .info__container {
    grid-template-columns: auto;
  }

  .info__title {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  .main-section__container {
    grid-template-columns: auto;
    align-content: center;
  }
}

@media screen and (min-width: 700px) {
  .main-section__video-link {
    justify-self: center;
  }
}

@media screen and (max-width: 625px) {
  .header__container {
    min-height: 70px;
  }

  .header__logo {
    flex: 0 0 33px;
  }

  .header__body {
    column-gap: 20px;
  }

  .header__button {
    padding: 10px 15px;
  }

  .menu__list {
    column-gap: 20px;
    font-size: 14px;
  }
}
